/* Search Bar Specific Styling */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 100px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar .input-group {
    flex: 1;
    position: relative;
}

.search-bar input[type="text"], .search-bar input[type="date"] {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar button {
    display: flex;
    flex-wrap: wrap;
    background-color: #f05d5e;
    color: white;
    place-items: center;
    padding: 12px 25px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #d64545;
}



/* Results Section */
#results {
    display:flex; 
    flex-wrap: wrap; /* Allow wrapping of cards */
    gap: 15px; /* Space between cards */
    justify-content:center;
    margin-left: 5px;
    margin-top :20px; /* Add some top margin */
    margin-bottom: 10px;
 }
 
 .bus-card {
    flex-basis : calc(20%); /* Set basis to allow two cards per row */
    border :1px solid #ccc; /* Add border */
    border-radius :8px; /* Rounded corners */
    padding :15px; /* Inner padding */
    box-shadow :0 2px 5px rgba(0,0,0,0.1); /* Shadow effect */
    transition :transform .2s; /* Transition effect for hover */
 }
 
 .bus-card:hover {
    transform :scale(1.02); /* Scale effect on hover */
 }
 
 .bus-card h3 {
    margin :0; /* Remove default margin */
 }
 
 .bus-card p {
    margin-bottom :5px; /* Add bottom margin for paragraphs */
 }